<h2 class="title">About</h2>
<hr>
<div class="row">
  <div class="large-12 medium-12 small-12 columns">

    <article>
       <figure>
<div class="grayscale" style="width:200px; height:220px; float:right;margin-left:50px; margin-bottom:30px">
        <svg viewbox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <pattern id="img" patternUnits="userSpaceOnUse" width="100" height="100">
      <image xlink:href="/profile2.jpg" x="-25" width="150" height="100" />
    </pattern>
  </defs>
  <polygon points="50 1 95 25 95 75 50 99 5 75 5 25" fill="url(#img)"/>
</svg>
</div>
</figure>
<p>Let’s meet!
<br>
Ömer Kutlu is an aspiring web designer with a passion of creating unique, yet simple web sites. He graduated from Theatre Theory Department of Ankara University, Ankara in 2008. After graduating, he worked as a designer for Kraf&Co, a graphics & interior design office celebrated for receiving multiple prizes at “International Design Awards”. Currently, He is pursuing new opportunities as a Freelance Web Designer.
<br>
Don’t hesitate to get in touch!</p>
<a href="cv.pdf">Download CV as PDF</a>
</article>  	
</div>
</div>

<!-- <div class="profile-circular-mask">
      <img src="/profile.jpg" :width => '150', :height => '100%')>
    </div>

</div> -->
 
<div class="row">
<br />
<br />
  <div class="large-6 columns">
<h5>#Work-experience</h5>{
<br>
/* 04-2010 - 05.2011 */
<p>Freelance Web Designer<br>
<br>
/* 04-2011 - 05.2012 */<br>
Graphic Designer, Armabrand Creative Solutions, Ankara<br>
<br>
/* 04-2012 - 05.2013 */ <br>
Web and Graphic Specialist, Atölye Ankara, Ankara<br>
<br>
/* 04-2013*/  <br>
Web Designer, Amfi Studyo, Ankara<br>
<br>
/* 04-2014 */<br>
 Web Designer, Kraf&Co, Ankara<br>
}</p>
<br>
<br>

<h5>#Computer Skills .Software</h5>
{
<p>Photoshop;<br>
Illustrator;<br>
InDesign;<br>
Dreamweaver;<br>
SublimeText;<br>
Brackets;<br>}</p>
<br>
<br>

<h5>#Computer Skills .Languages</h5>
{
<p>
Hand Coded CSS/HTML5 (Competible with all browsers);<br>
CSS3;<br>
Bootstrap, Foundation (Front-End Frameworks);<br>
Javascript / Jquery;<br>
Basic PHP (Wordpress, Drupal CMS);<br>
Ruby / (Ruby on Rails);<br>
PostgreSQL;<br>
Heroku;<br>
Google Cloud Storage;<br>
Amazon AWS (S3)<br>
}
</p>     
  </div>

  <div class="large-6 columns">

      <h5>#Education</h5>
{
<p>  
2003–2008 Lisans, Ankara University, Faculty of Languages, History and Geography
, Theatre Department, Ankara;<br><br>
2005–2006 Ankara University, Tömer Language Research Center, French, B2, Ankara;<br><br>
2011 Web and Graphic Design Course (300 Saat), Bilge Adam, Ankara;<br>
}
</p>  
<br>
<br>

 <h5>#Languages</h5>
 {
<p>
English (Fluent), French (Basic)
</p>
}
<br>
<br>
<h5>#Military Service</h5>
{
  <p>
2009 Discharged<br>
}
<p>
<br>
<br>
<h5>#Interests</h5>
{
<p>
Russian Literature, traveling, music festivals, cooking and wine culture, likes swimming <br>}
</p>
<br>
<br>
<h5>#Contact</h5>
{
  <p>
<a href="mailto:omerkutlu@live.com">omerkutlu@live.com</a><br>
}

  </div>
<div class="large-12 columns">
<br>
<br>
</div>
</div>
