<h2 class="title">Contact</h2>
<hr>
<div style="width:100%; max-width: 1080px; padding:20px; margin-bottom: 30px" data-no-turbolink>
<div class="large-12 columns">
<p>
Ömer Kutlu<br>
Design + Development<br>
Ankara, Turkey<br>
<br>
+90 544 566 9522<br>
omerkutlu@live.com
<br>
<br>
<br>
½ of BONG / ½ of It’s Okay
<br>
<br>
<a href="http://twitter.com/omer_kutlu">twitter.com/omer_kutlu</a><br>
<a href="http://twitter.com/omer_kutlu">linkedin</a><br>
<a href="http://github.com/omerkutlu">http://github.com/omerkutlu</a>
</p>
</div>
</div>
