<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" /> 
 <title>Ömer Kutlu // Design + Development</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,700&subset=latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'omerkutlu';
        
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>


</head>

<body>

<!-- 
<nav class="top-bar" style="height:165px !important">
  <div class="row">
    <div class="large-12 columns">
  <ul class="title-area">
    <li class="name">
      <h1>
        <a href="/" data-no-turbolink><img src="/logo.svg"></a>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section style="margin-top:68px" class="top-bar-section">
    <ul style="display: flex; justify-content: center;">
      <li><a href="/" data-no-turbolink>Home</a></li>
      <li><a href="/works" data-no-turbolink>Works</a></li>
      <li><a href="/about" data-no-turbolink>About</a></li>
      <li><a href="/posts" data-no-turbolink>Blog</a></li>
      <li><a href="/contact" data-no-turbolink>Contact</a></li>
    </ul>
  </section>
</div>
</div>
</div>

</nav>
 -->

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="middle tab-bar-section">
        <h1 class="title">
        <a href="/" data-no-turbolink><img src="/logo.svg"></a>
        </h1>
      </section>

      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
    </nav>

    <aside class="right-off-canvas-menu">
    	<div class="menu-text">
    	<a href="mailto:omerkutlu@live.com">omerkutlu@live.com</a>
      <br>+90 544.566.9522
    </div>
        <ul class="menu-nav">
          <li><a href="/" data-no-turbolink>Home</a></li>
          <li><a href="/works">Works</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/posts">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
      </ul>

      <ul class="menu-nav menu-nav--small">
        <li class="menu-navItem"><a href="https://twitter.com/omer_kutlu" target="_blank">twitter</a></li>
        <li class="menu-navItem"><a href="https://www.linkedin.com/profile/view?id=132932052&trk=nav_responsive_tab_profile_pic" target="_blank">linkedin</a></li>
        <li class="menu-navItem"><a href="https://github.com/omerkutlu" target="_blank">github</a></li>
      </ul>

    </aside>


    <section class="main-section">
    	<div style="max-width:1080px; width:100%; margin:auto; margin-top:100px">
      <!-- content goes here -->
      <%= yield %>

 
  </div>

    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>

<footer>
<div class="large-12 columns">
  <div class="row">
    <span style="float:left">
 © 2015 - All rights reserved. Made with Ruby on Rails.
</span>
<span style="float:right">
  <a href="https://twitter.com/omer_kutlu" target="_blank"><i class="fi-social-twitter large"></i></a>
  <a href="https://www.linkedin.com/profile/view?id=132932052&trk=nav_responsive_tab_profile_pic" target="_blank"><i class="fi-social-github large"></i></a>
  <a href="https://github.com/omerkutlu" target="_blank"><i class="fi-social-linkedin large"></i></a>
  </span>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67283755-1', 'auto');
  ga('send', 'pageview');

</script>
</div> 
</div> 

</footer>


</body>



     

</html>
